@font-face {
    font-family: "Roboto-Regular";
    src: url('../homework_7/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: "Roboto-Medium";
    src: url('../homework_7/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: "Roboto-Bold";
    src: url('../homework_7/fonts/Roboto-Bold.ttf');
}