@media screen and (max-width: 1440px) {
  .container-form {
    max-width: calc(600 / 1440 * 100vw);
    max-height: calc(412 / 1440 * 100vw);
    height: 100%;
    box-shadow: 0px 0px calc(40 / 1440 * 100vw) calc(10 / 1440 * 100vw)
      rgba(0, 0, 0, 0.25);
    border-radius: calc(20 / 1440 * 100vw);
  }
  .authorization {
    padding: 0px calc((90 / 1440) / 2 * 100vw);
  }
  .authorization__title {
    font-size: calc(50 / 1440 * 100vw);
    line-height: calc(50 / 1440 * 100vw);
    margin-top: calc(26 / 1440 * 100vw);
  }
  .authorization__title-email {
    padding-left: calc(8 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    margin-top: calc(17 / 1440 * 100vw);
  }
  input[placeholder] {
    padding: calc(7 / 1440 * 100vw) 0 calc(6 / 1440 * 100vw)
      calc(13 / 1440 * 100vw);
    font-size: calc(28 / 1440 * 100vw);
    line-height: calc(36 / 1440 * 100vw);
  }
  .authorization__input {
    margin-top: calc(3 / 1440 * 100vw);
    height: calc(49 / 1440 * 100vw);
    border-radius: calc(10 / 1440 * 100vw);
  }
  .authorization__title-password {
    padding-left: calc(8 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    margin-top: calc(13 / 1440 * 100vw);
  }
  .authorization__agreement {
    margin-top: calc(16 / 1440 * 100vw);
  }
  .authorization__ckeckbox-agreement + .authorization__title-agreement::before {
    width: calc(20 / 1440 * 100vw);
    height: calc(20 / 1440 * 100vw);
    border-radius: calc(7 / 1440 * 100vw);
    margin-right: calc(10 / 1440 * 100vw);
  }
  .authorization__title-agreement {
    font-size: calc(14 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
  }
  .authorization__send-btn {
    margin-top: calc(52 / 1440 * 100vw);
    width: calc(180 / 1440 * 100vw);
    height: calc(53 / 1440 * 100vw);
    font-size: calc(24 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    border-radius: calc(10 / 1440 * 100vw);
  }
}
@media screen and (max-width: 769px) {
  .container-form {
    max-width: calc(728 / 768 * 100vw);
    max-height: calc(697 / 768 * 100vw);
    height: 100%;
    box-shadow: 0px 0px calc(40 / 768 * 100vw) calc(10 / 768 * 100vw)
      rgba(0, 0, 0, 0.25);
    border-radius: calc(20 / 768 * 100vw);
  }
  .authorization {
    padding: 0px calc((90 / 728) / 2 * 100vw);
  }
  .authorization__title {
    font-size: calc(60 / 768 * 100vw);
    line-height: calc(50 / 768 * 100vw);
    margin-top: calc(38 / 768 * 100vw);
  }
  .authorization__title-email {
    font-size: calc(24 / 768 * 100vw);
    margin-top: calc(13 / 768 * 100vw);
    padding-left: calc(7 / 768 * 100vw);
  }
  input[placeholder] {
    padding: calc(7 / 768 * 100vw) 0 calc(6 / 768 * 100vw)
      calc(13 / 768 * 100vw);
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
  }
  .authorization__input {
    margin-top: calc(8 / 768 * 100vw);
    height: calc(49 / 768 * 100vw);
    border-radius: calc(10 / 768 * 100vw);
  }
  .authorization__title-password {
    padding-left: calc(5 / 768 * 100vw);
    font-size: calc(24 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
    margin-top: calc(11 / 768 * 100vw);
  }
  .authorization__agreement {
    margin-top: calc(19 / 768 * 100vw);
  }
  .authorization__ckeckbox-agreement + .authorization__title-agreement::before {
    width: calc(28 / 768 * 100vw);
    height: calc(28 / 768 * 100vw);
    border-radius: calc(7 / 768 * 100vw);
    margin-right: calc(10 / 768 * 100vw);
  }
  .authorization__title-agreement {
    font-size: calc(18 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
  .authorization__send-btn {
    margin-top: calc(64 / 768 * 100vw);
    width: calc(220 / 768 * 100vw);
    height: calc(80 / 768 * 100vw);
    font-size: calc(32 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
    border-radius: calc(10 / 768 * 100vw);
  }
}
