@media screen and (max-width: 1440px) {
  .header {
    box-shadow: 0px calc(4 / 1440 * 100vw) calc(4 / 1440 * 100vw)
      rgba(0, 0, 0, 0.25);
  }
  .container {
    height: calc(80 / 1440 * 100vw);
  }
  .header__content-left {
    padding-top: calc(3 / 1440 * 100vw);
    padding-left: calc(30 / 1440 * 100vw);
  }
  .header__logo {
    width: calc(222 / 1440 * 100vw);
    height: calc(50 / 1440 * 100vw);
  }
  .header__title {
    margin-left: calc(30 / 1440 * 100vw);
    font-size: calc(36 / 1440 * 100vw);
    line-height: calc(44 / 1440 * 100vw);
  }
  .nav {
    padding-right: calc(43 / 1440 * 100vw);
  }
  .nav__item:last-child {
    margin-left: calc(28 / 1440 * 100vw);
  }
  .nav__link {
    font-size: calc(24 / 1440 * 100vw);
    line-height: calc(29 / 1440 * 100vw);
  }
  .sign-up {
    margin-top: calc(180 / 1440 * 100vw);
  }
  .container-form {
    max-width: calc(600 / 1440 * 100vw);
    padding: 0 calc(46 / 1440 * 100vw) 0 calc(45 / 1440 * 100vw);
    background: #ffffff;
    box-shadow: 0px 0px calc(40 / 1440 * 100vw) calc(10 / 1440 * 100vw)
      rgba(0, 0, 0, 0.25);
  }
  .registration__title {
    font-size: calc(50 / 1440 * 100vw);
    line-height: calc(50 / 1440 * 100vw);

    margin-top: calc(26 / 1440 * 100vw);
  }
  .registration__title-block{
    margin-top: calc(11 / 1440 * 100vw);
  }
  .registration__title-email {
    font-size: calc(16 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    margin-top: calc(15 / 1440 * 100vw);
  }
  .registration__input {
    height: calc(49 / 1440 * 100vw);
    margin-top: calc(5 / 1440 * 100vw);
    max-width: calc(509 / 1440 * 100vw);
    border: calc(2 / 1440 * 100vw) solid #787878;
  }
  .registration__input[placeholder] {
    font-size: calc(28 / 1440 * 100vw);
    line-height: calc(36 / 1440 * 100vw);
    padding-top: calc(7 / 1440 * 100vw);
    padding-bottom: calc(3 / 1440 * 100vw);
    padding-left: calc(13 / 1440 * 100vw);
  }
  .registration__title-password {
    margin-top: calc(11 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
  }
  .registration__title-gender {
    margin-top: calc(11 / 1440 * 100vw);
    margin-left: calc(-2 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
  }
  .registration__gender {
    margin-top: calc(5 / 1440 * 100vw);
  }
  .registration__title-radio {
    font-size: calc(14 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
  }
  .fake-radio {
    padding-left: calc(20 / 1440 * 100vw);
    padding-bottom: calc(15 / 1440 * 100vw);
  }
  .fake-radio::before {
    width: calc(18 / 1440 * 100vw);
    height: calc(18 / 1440 * 100vw);
    border: calc(2 / 1440 * 100vw) solid #787878;
  }
  .fake-radio:after {
    top: calc(4 / 1440 * 100vw);
    left: calc(4 / 1440 * 100vw);
    width: calc(14 / 1440 * 100vw);
    height: calc(14 / 1440 * 100vw);
  }

  .woman {
    margin-top: calc(9 / 1440 * 100vw);
  }
  .registration__title-man {
    padding-left: calc(5 / 1440 * 100vw);
  }
  .registration__title-woman {
    padding-left: calc(5 / 1440 * 100vw);
  }
  .gender {
    font-size: calc(14 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
  }
  .registration__title-about {
    margin-top: calc(15 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
  }
  .registration__area-about {
    margin-top: calc(5 / 1440 * 100vw);
    width: calc(509 / 1440 * 100vw);
    height: calc(246 / 1440 * 100vw);
    border: calc(2 / 1440 * 100vw) solid #787878;
  }
  .registration__area-about[placeholder] {
    padding-top: calc(5 / 1440 * 100vw);
    padding-left: calc(15 / 1440 * 100vw);

    font-size: calc(28 / 1440 * 100vw);
    line-height: calc(36 / 1440 * 100vw);
  }
  .registration__agreement {
    margin-top: calc(24 / 1440 * 100vw);
  }

  .registration__ckeckbox-agreement {
  }
  .fake-checkbox {
    padding-left: calc(20 / 1440 * 100vw);
    padding-bottom: calc(15 / 1440 * 100vw);
  }
  .fake-checkbox:before {
    width: calc(18 / 1440 * 100vw);
    height: calc(18 / 1440 * 100vw);
    border: calc(2 / 1440 * 100vw) solid #787878;
  }
  .fake-checkbox::after {
    top: calc(5 / 1440 * 100vw);
    left: calc(5 / 1440 * 100vw);
    width: calc(12 / 1440 * 100vw);
    height: calc(12 / 1440 * 100vw);
  }
  .registration__title-agreement {
    font-size: calc(14 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
  }
  .registration__text-agreement {
    margin-left: calc(10 / 1440 * 100vw);
    font-size: calc(14 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
  }
  .send-btn {
    margin-top: calc(59 / 1440 * 100vw);
    margin-bottom: calc(37 / 1440 * 100vw);
    height: calc(52 / 1440 * 100vw);
    width: calc(180 / 1440 * 100vw);
    font-size: calc(24 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
  }
}
@media screen and (max-width: 768px) {
  .header {
    box-shadow: 0px calc(4 / 768 * 100vw) calc(4 / 1440 * 100vw)
      rgba(0, 0, 0, 0.25);
  }
  .container {
    height: calc(80 / 768 * 100vw);
  }
  .header__content-left {
    padding-top: calc(0 / 768 * 100vw);
    padding-bottom: calc(5 / 768 * 100vw);
    padding-left: calc(20 / 768 * 100vw);
  }
  .header__logo {
    width: calc(124 / 768 * 100vw);
    height: calc(25 / 768 * 100vw);
  }
  .header__title {
    margin-left: calc(34 / 768 * 100vw);
    font-size: calc(24 / 768 * 100vw);
    line-height: calc(29 / 768 * 100vw);
  }
  .nav {
    padding-right: calc(28 / 768 * 100vw);
  }
  .nav__item:last-child {
    margin-left: calc(36 / 768 * 100vw);
  }
  .nav__link {
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(19 / 768 * 100vw);
  }
  .sign-up {
    margin-top: calc(159 / 768 * 100vw);
  }
  .container-form {
    display: block;
    margin: 0 auto;
    max-width: calc(600 / 768 * 100vw);
    padding: 0 calc(46 / 768 * 100vw) 0 calc(45 / 768 * 100vw);
    background: #ffffff;
    box-shadow: 0px 0px calc(40 / 768 * 100vw) calc(10 / 768 * 100vw)
      rgba(0, 0, 0, 0.25);
  }
  .registration__title {
    font-size: calc(50 / 768 * 100vw);
    line-height: calc(50 / 768 * 100vw);

    margin-top: calc(30 / 768 * 100vw);
    margin-bottom: calc(-3 / 768 * 100vw);
  }
  .registration__title-block{
    margin-top: calc(11 / 768 * 100vw);
  }
  .registration__title-email {
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
    margin-top: calc(16 / 768 * 100vw);
  }
  .registration__input {
    height: calc(49 / 768 * 100vw);
    margin-top: calc(5 / 768 * 100vw);
    max-width: calc(509 / 768 * 100vw);
    border: calc(2 / 768 * 100vw) solid #787878;
  }
  .registration__input[placeholder] {
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
    padding-top: calc(7 / 768 * 100vw);
    padding-bottom: calc(3 / 768 * 100vw);
    padding-left: calc(13 / 768 * 100vw);
  }
  .registration__title-password {
    margin-top: calc(11 / 768 * 100vw);
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
  .registration__title-gender {
    margin-top: calc(10 / 768 * 100vw);
    margin-left: calc(-2 / 768 * 100vw);
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
  .registration__gender {
    margin-top: calc(5 / 768 * 100vw);
  }
  .registration__title-radio {
    font-size: calc(14 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
  .fake-radio {
    padding-left: calc(20 / 768 * 100vw);
    padding-bottom: calc(15 / 768 * 100vw);
  }
  .fake-radio::before {
    left: calc(-1 / 768 * 100vw);
    width: calc(18 / 768 * 100vw);
    height: calc(18 / 768 * 100vw);
    border: calc(2 / 768 * 100vw) solid #787878;
  }
  .fake-radio:after {
    top: calc(4 / 768 * 100vw);
    left: calc(3 / 768 * 100vw);
    width: calc(14 / 768 * 100vw);
    height: calc(14 / 768 * 100vw);
  }

  .woman {
    margin-top: calc(10 / 768 * 100vw);
  }
  .registration__title-man {
    padding-left: calc(5 / 768 * 100vw);
  }
  .registration__title-woman {
    padding-left: calc(5 / 768 * 100vw);
  }
  .gender {
    font-size: calc(14 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
  .registration__title-about {
    margin-top: calc(15 / 768 * 100vw);
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
  .registration__area-about {
    margin-top: calc(5 / 768 * 100vw);
    width: calc(509 / 768 * 100vw);
    height: calc(246 / 768 * 100vw);
    border: calc(2 / 768 * 100vw) solid #787878;
  }
  .registration__area-about[placeholder] {
    padding-top: calc(5 / 768 * 100vw);
    padding-left: calc(15 / 768 * 100vw);

    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
  }
  .registration__agreement {
    margin-top: calc(24 / 768 * 100vw);
  }
  .fake-checkbox {
    padding-left: calc(20 / 768 * 100vw);
    padding-bottom: calc(15 / 768 * 100vw);
  }
  .fake-checkbox:before {
    width: calc(18 / 768 * 100vw);
    height: calc(18 / 768 * 100vw);
    border: calc(2 / 768 * 100vw) solid #787878;
  }
  .fake-checkbox::after {
    top: calc(5 / 768 * 100vw);
    left: calc(5 / 768 * 100vw);
    width: calc(12 / 768 * 100vw);
    height: calc(12 / 768 * 100vw);
  }
  .registration__title-agreement {
    font-size: calc(14 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
  .registration__text-agreement {
    margin-left: calc(10 / 768 * 100vw);
    font-size: calc(14 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
  .send-btn {
    margin-top: calc(59 / 768 * 100vw);
    margin-bottom: calc(37 / 768 * 100vw);
    height: calc(52 / 768 * 100vw);
    width: calc(180 / 768 * 100vw);
    font-size: calc(24 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }
}
@media screen and (max-width: 320px) {
  .fake-checkbox::before{
    width: calc(7 / 320 * 100vw);
    height: calc(7 / 320 * 100vw);
  }
    .fake-checkbox::after {
    top: calc(2 / 320 * 100vw);
    left: calc(2 / 320 * 100vw);
  }
}
